table {
    width: 350px;
    border-collapse: collapse;
    margin: 20px;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid gray;
    padding: 8px;
    text-align: left;
}

.encabezado {
    background-color: #555555;
    color: white;
}

.nota {
    background-color: #333333;
    color: white;
    font-weight: bold;
}
