body {
    font-family: Arial, sans-serif;
    width: 900px;
    margin: auto;
}

.cita {
    border: 1px solid #bbb;
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
    overflow: auto;
}

.cita img {
    float: left;          
    width: 120px;
    margin-right: 15px;   
}

footer {
    clear: both;           
    text-align: center;
    margin-top: 30px;
}
