body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: white;
}

button {
    display: block;
    width: 60%;
    margin: 10px auto;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:nth-child(1) { background: #e21b3c; }
button:nth-child(2) { background: #1368ce; }
button:nth-child(3) { background: #d89e00; }
button:nth-child(4) { background: #26890c; }

.correcto {
    background: green !important;
}

.incorrecto {
    background: red !important;
}

#startBtn {
    padding: 15px 30px;
    font-size: 20px;
    background: #00c853;
    color: white;
    border-radius: 10px;
}
