body {
    background-color: black;
    color: white;
    font-family: Courier New;
    text-align: center;
}

h1 {
    color: yellow;
}

.section {
    border: 2px solid white;
    padding: 20px;
    margin: 20px;
}
